<div class="modal-header" id="modal-header">
  <h3 class="modal-title">Share credentials with user</h3>
</div>

<div class="modal-body" id="modal-body">
  <h4>Select user you want to share with</h4>
  <ui-select ng-model="selected.user" theme="bootstrap">
    <ui-select-match placeholder="Start enter username">{{$select.selected.username}}
    </ui-select-match>
    <ui-select-choices repeat="user in users | filter: $select.search track by user.username">
      {{user.username}}
    </ui-select-choices>
  </ui-select>
</div>

<div class="modal-footer" id="modal-footer">
  <input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
  <input type="button" class="input-submit" value="Share" ng-click="share()">
</div>