<div class="col-md-offset-1 col-md-10">
    <table class="table">
        <thead>
        <tr>
            <th>Expand</th>
            <th class="clickable" ng-click="sortBy('error')">Status <i class="{{sortOrder.error.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('smsType')">SMS Type <i class="{{sortOrder.smsType.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('senderName')">Sender Name <i class="{{sortOrder.senderName.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('recipient')">Recipient <i class="{{sortOrder.recipient.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('recipientType')">RecipientType <i class="{{sortOrder.recipientType.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('sentDate')">Sent Date <i class="{{sortOrder.sentDate.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('initiatedBy')">Initiated By <i class="{{sortOrder.initiatedBy.elementClass}}"></i></th>
        </tr>
        </thead>
        <tbody ng-repeat="statistic in statistics">
        <tr>
            <td class="clickable" ng-show="!statistic.expanded" ng-click="statistic.expanded = true">+</td>
            <td class="clickable" ng-show="statistic.expanded" ng-click="statistic.expanded = false">-</td>
            <td ng-show="{{statistic.error}}" style="color: red">error</td>
            <td ng-show="!{{statistic.error}}" style="color: green">success</td>
            <td>{{statistic.smsType}}</td>
            <td>{{statistic.senderName}}</td>
            <td>{{statistic.recipient}}</td>
            <td>{{statistic.recipientType}}</td>
            <td>{{statistic.sentDate | date: 'medium'}}</td>
            <td>{{statistic.initiatedBy}}</td>
        </tr>
        <tr class="expandable table-condensed" ng-show="statistic.expanded">
            <td><b>Text:</b></td>
            <td colspan="7">{{statistic.text}}</td>
        </tr>
        <tr class="expandable table-condensed" ng-show="statistic.expanded">
            <td><b>Response: </b></td>
            <td colspan="7">{{statistic.response}}</td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item clickable" ng-show="pageCount > 3 && currentPage != 1">
            <a class="page-link" aria-label="First" ng-click="getPage(1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li ng-class="{active: showPages[0].active}" class="page-item clickable"><a class="page-link" ng-click="getPage(showPages[0].pageNumber)">{{showPages[0].pageNumber}}</a> </li>
        <li ng-show="pageCount > 1" ng-class="{active: showPages[1].active}" class="page-item clickable"><a class="page-link" ng-click="getPage(showPages[1].pageNumber)">{{showPages[1].pageNumber}}</a> </li>
        <li ng-show="pageCount > 2" ng-class="{active: showPages[2].active}" class="page-item clickable"><a class="page-link" ng-click="getPage(showPages[2].pageNumber)">{{showPages[2].pageNumber}}</a> </li>
        <li class="page-item" ng-show="pageCount > 3 && currentPage != pageCount">
            <a class="page-link clickable" aria-label="Last" ng-click="getPage(pageCount)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

    <ul class="pull-right pagination">
        <li class="clickable" ng-class="{active: pageSize.ten.active}"><a ng-click="changePageSize(pageSize.ten)">{{pageSize.ten.display}}</a></li>
        <li class="clickable" ng-class="{active: pageSize.fifteen.active}"><a ng-click="changePageSize(pageSize.fifteen)">{{pageSize.fifteen.display}}</a></li>
        <li class="clickable" ng-class="{active: pageSize.fifty.active}"><a ng-click="changePageSize(pageSize.fifty)">{{pageSize.fifty.display}}</a></li>
    </ul>
</div>