<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/sms-server.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>180</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>utf-8</charset>
      <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
