<div class="modal-header" id="modal-header">
  <h3 class="modal-title">Add new credentials</h3>
</div>

<div class="modal-body" id="modal-body">
  <input type="text" ng-model="app.applicationName" class="input-field"
         placeholder="Application Name">

  <h4>Select default credentials for this application</h4>
  <ui-select ng-model="selected.credentials" theme="bootstrap">
    <ui-select-match placeholder="Start enter sender name">{{$select.selected.sender}}
    </ui-select-match>
    <ui-select-choices
        repeat="credentials in userCredentials | filter: $select.search track by credentials.sender">
      {{credentials.sender}}
    </ui-select-choices>
  </ui-select>
</div>

<div class="modal-footer" id="modal-footer">
  <input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
  <input type="button" class="input-submit" value="Add" ng-click="addApplication(app)">
</div>