<div ng-include="'/resources/templates/setup/backToSetupLink.html'"></div>
<div class="col-md-offset-2 col-md-8">
    <h3>Credentials</h3>
    <a href class="pull-right" ng-click="addCredentialsModal()">Add new credentials</a>
    <table class="table">
        <thead>
        <tr>
            <th>SMS Type</th>
            <th>WebSMS Username</th>
            <th>Sender name</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody ng-repeat="credentials in userCredentials">
        <tr>
            <td>{{credentials.smsType}}</td>
            <td>{{credentials.username}}</td>
            <td>{{credentials.sender}}</td>
            <td><i class="fa fa-remove clickable" ng-click="removeCredentials(credentials.id)"></i></td>
        </tr>
        </tbody>
    </table>

</div>