<div class="modal-header" id="modal-header">
  <h3 class="modal-title">Add new User</h3>
</div>

<div class="modal-body" id="modal-body">
  <input type="text"
         ng-model="user.username"
         class="input-field"
         placeholder="Username"
         uib-tooltip="Must be valid Email address to receive password"
         tooltip-placement="top"
         tooltip-trigger="'focus'"
  >
</div>

<div class="modal-footer" id="modal-footer">
  <input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
  <input type="button" class="input-submit" value="Add" ng-click="addUser(user)">
</div>