body {
	margin-top: 0;
}

.login-form {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 500px;
	clear: both;
	padding-top: 10%;
}

.input-submit {
	float: right;
	width: 100px;
	height: 30px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	background-color: #00cccc;
	border: none;
	margin-right: 10px;
}

.input-submit:hover {
	cursor: pointer;
	background-color: #009999;
}

.input-submit:active {
	box-shadow: 1px 1px 3px black;
}

.input-submit:focus {
	outline: none;
}

.input-field {
	margin-bottom: 30px;
	width: 100%;
	clear: both;
	height: 40px;
	border-bottom-color: #00cccc;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.input-field:focus {
	border-style: solid;
	border-width: 1px;
	border-color: #00cccc;
	outline: none;
	border-bottom-width: 8px;
}

.login-error {
	color: red;
	font-family: sans-serif;
	top: -200px;
}

.sms-content-textarea {
	width: 100%;
	height: 250px;
	border-bottom-color: #00cccc;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.sms-content-textarea:focus {
	border-style: solid;
	border-width: 1px;
	border-color: #00cccc;
	outline: none;
	border-bottom-width: 8px;
}

.sms-content-status {
	color: lightgray;
	font-family: sans-serif;
	font-size: 10pt;
	float: left;
}

.recipients {
	margin-bottom: 50px;
}

.add-recipient-link {
	text-align: center;
	width: 150px;
	height: 30px;
	display: block;
	text-decoration: none;
	float: right;
	margin-top: 50px;
	background-color: #00cccc;
	font-weight: bold;
	color: white;
	padding-top: 10px;
}

.add-recipient-link:hover {
	background-color: #009999;
}

.add-recipient-link:active {
	box-shadow: 1px 1px 3px black;
}

.small-input-field {
	width: 300px;
	margin-right: 20px;
}

.remove-recipient-form {
	text-align: center;
	width: 150px;
	height: 30px;
	display: block;
	border: none;
	background-color: #00cccc;
	font-weight: bold;
	color: white;
	float: right;
}

.clickable {
	cursor: pointer;
}

.expandable {
	background-color: #E4E4E4;
}

.transparent {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.overlay-loader {
	display: block;
	margin: auto;
	width: 588px;
	height: 588px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 588px;
	height: 588px;
	animation-name: rotateAnim;
	-o-animation-name: rotateAnim;
	-ms-animation-name: rotateAnim;
	-webkit-animation-name: rotateAnim;
	-moz-animation-name: rotateAnim;
	animation-duration: 0.4s;
	-o-animation-duration: 0.4s;
	-ms-animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-o-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
.loader div {
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 6px solid rgb(46,232,245);
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
.loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
.loader div:nth-child(2) {
	border-width: 12px;
	left: 0px;
	top: -24px;
	width: 71px;
	height: 71px;
}
.loader div:nth-child(3) {
	border-width: 12px;
	left: -6px;
	top: 18px;
	width: 106px;
	height: 106px;
}
.loader div:nth-child(4) {
	border-width: 18px;
	left: -6px;
	top: -24px;
	width: 141px;
	height: 141px;
}
.loader div:nth-child(5) {
	border-width: 18px;
	left: -6px;
	top: 24px;
	width: 188px;
	height: 188px;
}
.loader div:nth-child(6) {
	border-width: 24px;
	left: 0px;
	top: -24px;
	width: 235px;
	height: 235px;
}
.loader div:nth-child(7) {
	border-width: 24px;
	left: 0px;
	top: 35px;
	width: 294px;
	height: 294px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

.sender-names {
	width: 100%;
	height: 30px;
	background-color: white;
	border: solid #00cccc;
	border-radius: 4px;
	color: #00cccc;
	font-weight: bold;
}

.sms-tabs {
	margin-top: 30px;
}

.white {
	color: #fff;
}

.version {
	margin-left: 550%;
}