<div class="modal-header" id="modal-header">
	<h3 class="modal-title">Add new SMS Template</h3>
</div>

<div class="modal-body" id="modal-body">
	<span ng-show="error" class="login-error">{{error}}</span>
	<input type="text" ng-model="template.smsType" class="input-field" placeholder="SMS Type">
	<input type="text"
	       ng-model="template.uriPath"
	       class="input-field"
	       placeholder="URI Path"
	       uib-tooltip="Enter URI path of template. Should start from /rest/sms"
	       tooltip-placement="top"
	       tooltip-trigger="'focus'"
	>

	<textarea class="sms-content-textarea" ng-model="template.template" placeholder="SMS Template. Can be blank"></textarea>
</div>

<div class="modal-footer" id="modal-footer">
	<input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
	<input type="button" class="input-submit" value="Add" ng-click="addTemplate(template)">
</div>