<div id="navigbar" ng-init="getVersionInfo()">
  <ul id="naviglist">
    <li><a href="#/statistics">Statistics</a></li>
    <li><a href="#/send-sms">Send SMS</a></li>
    <li><a href="#/recipients">Recipients</a></li>
    <li ng-if="versionLoaded"><span
        class="version glyphicon glyphicon-question-sign white"
        uib-tooltip-html="'
                <b>Commit user name</b>: {{version.commitUserName}}<br>
                <b>Build date</b>: {{version.buildTime | date: 'medium'}}<br>
                <b>Git hash</b>: {{version.commitId}}<br>
                <b>Git branch</b>: {{version.branch}}<br>
                <b>Git commit message</b>: {{version.commitMessageFull}}'"
        tooltip-placement="bottom"
        tooltip-trigger="'mouseenter'"
    ></span></li>
    <li style="float: right"><a class="clickable" ng-click="logout()">Log Out</a></li>
    <li style="float: right"><a href="#/setup"><i class="fa fa-2x fa-gears"></i></a></li>
    <li style="float: right"><a href="#/sms-queue"><i class="fa fa-2x fa-envelope"></i></a></li>
  </ul>
</div>