<div class="container">
  <div class="setup-section">
    <h3>Security</h3>
    <ul class="clearfix">
      <li ng-click="openSetup('/setup/users')">
        <i class="fa fa-user"></i>
        Users
      </li>
      <li ng-click="openSetup('/setup/applications')">
        <i class="fa fa-gear"></i>
        Applications
      </li>
      <li ng-click="openSetup('/setup/credentials')">
        <i class="fa fa-lock"></i>
        Credentials
      </li>
    </ul>
  </div>
  <div class="setup-section">
    <h3>Basics</h3>
    <ul class="clearfix">
      <li ng-click="openSetup('/setup/templates')">
        <i class="fa fa-list"></i>
        SMS Templates
      </li>
      <li ng-click="openSetup('/setup/emailTemplates')">
        <i class="fa fa-list"></i>
        Email Templates
      </li>
      <li ng-click="openSetup('/setup/properties')">
        <i class="fa fa-list"></i>
        Properties
      </li>
    </ul>
  </div>
</div>