<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
       <context:property-placeholder/>
       <context:component-scan base-package="by.bsu.rfe.smsservice.service.impl"/>
       <context:component-scan base-package="by.bsu.rfe.smsservice.builder.impl"/>
       <jpa:repositories base-package="by.bsu.rfe.smsservice.repository"/>

       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://localhost:3306/sms_server" />
              <property name="username" value="${database.username}"/>
              <property name="password" value="${database.password}"/>
              <property name="connectionProperties" value="useUnicode=true;characterEncoding=utf8"/>
       </bean>

       <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="persistenceUnitName" value="SMS-server"/>
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaVendorAdapter">
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
              </property>
              <property name="packagesToScan" value="by.bsu.rfe.smsservice.common.entity"/>
       </bean>

       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="entityManagerFactory"/>
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager"/>

       <bean class="org.dozer.DozerBeanMapper">
              <constructor-arg>
                     <list>
                            <value>mapping/entity-dto-mapping.xml</value>
                     </list>
              </constructor-arg>
       </bean>
       <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
</beans>