<div class="col-md-offset-2 col-md-8">
    <h3>SMS Queue</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Expand</th>
            <th>Recipient</th>
            <th>Recipient Type</th>
            <th>Sender Name</th>
            <th>Sms Type</th>
            <th>Initiated By</th>
            <th>Initiated Date</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody ng-repeat="sms in queue">
        <tr>
            <td class="clickable" ng-show="!sms.expanded" ng-click="sms.expanded = true">+</td>
            <td class="clickable" ng-show="sms.expanded" ng-click="sms.expanded = false">-</td>
            <td>{{sms.recipient}}</td>
            <td>{{sms.recipientType}}</td>
            <td>{{sms.credentials.sender}}</td>
            <td>{{sms.smsType.smsType}}</td>
            <td>{{sms.createdBy}}</td>
            <td>{{sms.createdDate | date: 'medium'}}</td>
            <td><i class="fa fa-remove clickable" ng-click="removeFromQueue(sms.id)"></i></td>
        </tr>
        <tr class="expandable table-condensed" ng-show="sms.expanded">
            <td><b>Text:</b></td>
            <td colspan="7">{{sms.message}}</td>
        </tr>
        </tbody>
    </table>
</div>