<div class="modal-header" id="modal-header">
  <h3 class="modal-title">Add new recipient</h3>
</div>

<div class="modal-body" id="modal-body">
  <input class="input-field" type="text" ng-model="person.firstName"
         placeholder="First Name">
  <input class="input-field" type="text" ng-model="person.lastName"
         placeholder="Last Name">
  <input class="input-field" type="text" ng-model="person.phoneNumber"
         placeholder="Phone">
  <input class="input-field" type="text" ng-model="person.email"
         placeholder="Email">
</div>

<div class="modal-footer" id="modal-footer">
  <input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
  <input type="button" class="input-submit" value="Add" ng-click="saveRecipient(person)">
</div>