<div id="persons" ng-controller="personsCtrl">
    <label>Persons:</label>
    <input type="text" class="input-field"
           placeholder="Filter by First Name, Last Name, Phone Number" ng-model="personsFilter">
    <table class="table">
        <thead>
        <tr>
            <th class="clickable" ng-click="sortBy('firstName')">First Name <i class="{{sortOrder.firstName.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('lastName')">Last Name <i class="{{sortOrder.lastName.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('email')">Email <i class="{{sortOrder.email.elementClass}}"></i></th>
            <th class="clickable" ng-click="sortBy('phoneNumber')">Phone Number <i class="{{sortOrder.phoneNumber.elementClass}}"></i></th>
            <th>Remove</th>
            <th class="pull-right">Total: {{count}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="person in receivedPersons">
        <tr>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phoneNumber}}</td>
            <td colspan="2"><i class="fa fa-remove clickable" ng-click="removePerson(person.id)"></i></td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination" ng-repeat="page in pages">
        <li class="clickable" ng-class="{active: page.active}"><a ng-click="getPage(page.pageNumber)">{{page.pageNumber}}</a></li>
    </ul>

    <ul class="pull-right pagination">
        <li class="clickable" ng-class="{active: pageSize.ten.active}"><a ng-click="changePageSize(pageSize.ten)">{{pageSize.ten.display}}</a></li>
        <li class="clickable" ng-class="{active: pageSize.fifteen.active}"><a ng-click="changePageSize(pageSize.fifteen)">{{pageSize.fifteen.display}}</a></li>
        <li class="clickable" ng-class="{active: pageSize.fifty.active}"><a ng-click="changePageSize(pageSize.fifty)">{{pageSize.fifty.display}}</a></li>
    </ul>
</div>