<div ng-include="'setup/setup-backToSetupLink.tmpl.html'"></div>
<span class="col-md-offset-10"><a href ng-click="changePasswordModal()">Change password</a></span>
<div class="col-md-offset-2 col-md-8">
  <h3>Users</h3>
  <a href class="pull-right" ng-click="addUserModal()">Add new user</a>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody ng-repeat="user in users">
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.createdBy}}</td>
      <td>{{user.createdDate | date: 'medium'}}</td>
      <td ng-if="user.createdBy != 'SYSTEM' && user.username != getCurrentUserName()"><i
          class="fa fa-remove clickable" ng-click="removeUser(user.id)"></i></td>
    </tr>
    </tbody>
  </table>
</div>