<div class="modal-header" id="modal-header">
  <h3 class="modal-title">Change password</h3>
</div>

<div class="modal-body" id="modal-body">
  <input type="password" class="input-field" placeholder="Old Password" ng-model="oldPassword"
         required>
  <input type="password" class="input-field" placeholder="New Password" ng-model="newPassword"
         required>
  <input type="password" class="input-field" placeholder="Again New Password"
         ng-model="anotherNewPassword" required>
</div>

<div class="modal-footer" id="modal-footer">
  <input type="button" class="input-submit" value="Cancel" ng-click="cancel()">
  <input type="button" class="input-submit" value="Change"
         ng-click="changePassword(oldPassword, newPassword, anotherNewPassword)">
</div>
